apiVersion: cdi.kubevirt.io/v1beta1
kind: DataVolume
metadata:
  name: {{data_volume_name}}
  namespace: default
spec:
  source:
    http:
      url: {{image_url}}
  storage:
    accessModes:
      - ReadWriteOnce
    storageClassName: {{storage_class}}
    resources:
      requests:
        storage: 60Gi
