apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{node_name}}
  namespace: default
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        creationTimestamp: null
        name: {{node_name}}
      spec:
        sourceRef:
          kind: DataSource
          name: {{ data_volume_image }}
          namespace: openshift-virtualization-os-images
        storage:
          resources:
            requests:
              storage: 50Gi
  runStrategy: RerunOnFailure
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: rhel8
        vm.kubevirt.io/workload: server
      creationTimestamp: null
      labels:
        kubevirt.io/domain: {{node_name}}
        kubevirt.io/size: small
    spec:
      accessCredentials:
        - sshPublicKey:
            propagationMethod:
              noCloud: {}
            source:
              secret:
                secretName: {{ssh_key_name}}
      architecture: amd64
      domain:
        cpu:
          cores: 1
          sockets: 4
          threads: 1
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
            - disk:
                bus: {{disk_bus}}
              name: {{volume1}}
              shareable: true
            - disk:
                bus: {{disk_bus}}
              name: {{volume2}}
              shareable: true
            - disk:
                bus: {{disk_bus}}
              name: {{volume3}}
              shareable: true
          interfaces:
            - bridge: {}
              macAddress: '{{mac_address1}}'
              model: virtio
              name: {{interface_name1}}
            - bridge: {}
              macAddress: '{{mac_address2}}'
              model: virtio
              name: {{interface_name2}}
            - bridge: {}
              macAddress: '{{mac_address3}}'
              model: virtio
              name: {{interface_name3}}
          rng: {}
        ioThreads:
          supplementalPoolThreadCount: 4
        ioThreadsPolicy: supplementalPool
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: 16Gi
        resources: {}
      networks:
        - multus:
            networkName: default/{{interface_name1}}
          name: {{interface_name1}}
        - multus:
            networkName: default/{{interface_name2}}
          name: {{interface_name2}}
        - multus:
            networkName: default/{{interface_name3}}
          name: {{interface_name3}}
      terminationGracePeriodSeconds: 180
      volumes:
        - dataVolume:
            name: {{node_name}}
          name: rootdisk
        - cloudInitNoCloud:
            userData: |-
              #cloud-config
              user: cloud-user
              password: 12345678
              chpasswd: { expire: False }
          name: cloudinitdisk
        - name: {{volume1}}
          persistentVolumeClaim:
            claimName: {{volume1}}
        - name: {{volume2}}
          persistentVolumeClaim:
            claimName: {{volume2}}
        - name: {{volume3}}
          persistentVolumeClaim:
            claimName: {{volume3}}
